
.background{
  height: 100vh;
  width: 100%;
  background-color: black;
}

.auth-container {
    background: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
    font-family: Arial, sans-serif; 
    margin: 20px;
  }
  
  .form-group {
    margin-bottom: 20px; 
  }
  

  .login-button, .toggle-button {
    background-color: red; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s; 
  }
  
  .login-button:hover, .toggle-button:hover {
    background-color: #ff3c3c; 
  }
  

  .toggle-message {
    color: white;
    margin-top: 20px;
    text-align: center;
  }
  
  
  label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 
  input[type="email"], input[type="password"] ,input[type="name"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  